<a href="https://colab.research.google.com/github/sushma-snk/Data_Pre_Processing/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
!git clone https://github.com/VedaVinothiniShastra/DS_PT_2.git

fatal: destination path 'DS_PT_2' already exists and is not an empty directory.

In [58]:
!ls

DS_PT_2  sample_data

In [59]:
import pandas as pd
import numpy as np

In [60]:
def pre_processing(file_name):
  print("Read csv file")
  data = pd.read_csv(file_name)
  print(data.head())
  print(data.shape)
  print('\n')
  print("Check number of missing data in every column of the dataset")
  print(data.isna().sum())
  print('\n')
  print("None of the columns have missing data")
  print('\n')
  print("Extract 'adj close' column from every dataset/")
  print('\n')
  AdjClose_data = data["Adj Close"]
  print(AdjClose_data)
  print('\n')
  return AdjClose_data

In [61]:
apple_data = pre_processing("DS_PT_2/Mini/Mini-1/AAPL.csv")
amazon_data = pre_processing("DS_PT_2/Mini/Mini-1/AMZN.csv")
google_data = pre_processing("DS_PT_2/Mini/Mini-1/GOOG.csv")

Read csv file
         Date      Open      High       Low     Close  Adj Close     Volume
0  2000-01-03  3.745536  4.017857  3.631696  3.997768   3.596616  133949200
1  2000-01-04  3.866071  3.950893  3.613839  3.660714   3.293384  128094400
2  2000-01-05  3.705357  3.948661  3.678571  3.714286   3.341579  194580400
3  2000-01-06  3.790179  3.821429  3.392857  3.392857   3.052405  191993200
4  2000-01-07  3.446429  3.607143  3.410714  3.553571   3.196992  115183600
(4475, 7)


Check number of missing data in every column of the dataset
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


None of the columns have missing data


Extract 'adj close' column from every dataset/


0         3.596616
1         3.293384
2         3.341579
3         3.052405
4         3.196992
           ...
4470    155.839996
4471    155.899994
4472    156.550003
4473    156.000000
4474    156.990005
Name: Adj Close, Length: 4475, dtype: float64


Read csv file
         Date     Open     High        Low    Close  Adj Close    Volume
0  2000-01-03  81.5000  89.5625  79.046799  89.3750    89.3750  16117600
1  2000-01-04  85.3750  91.5000  81.750000  81.9375    81.9375  17487400
2  2000-01-05  70.5000  75.1250  68.000000  69.7500    69.7500  38457400
3  2000-01-06  71.3125  72.6875  64.000000  65.5625    65.5625  18752000
4  2000-01-07  67.0000  70.5000  66.187500  69.5625    69.5625  10505400
(4475, 7)


Check number of missing data in every column of the dataset
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


None of the columns have missing data


Extract 'adj close' column from every dataset/


0         89.375000
1         81.937500
2         69.750000
3         65.562500
4         69.562500
           ...
4470     990.989990
4471     987.200012
4472     995.000000
4473    1000.929993
4474    1002.940002
Name: Adj Close, Length: 4475, dtype: float64


Read csv file
         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400
(3313, 7)


Check number of missing data in every column of the dataset
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64


None of the columns have missing data


Extract 'adj close' column from every dataset/


0        49.845802
1        53.805050
2        54.346527
3        52.096165
4        52.657513
           ...
3308    977.000000
3309    972.599976
3310    989.250000
3311    987.830017
3312    989.679993
Name: Adj Close, Length: 3313, dtype: float64

In [62]:
# Concatenate adj close data from all three datasets
AdjClose_data = pd.concat([apple_data, amazon_data, google_data], axis = 1)
print(AdjClose_data)

       Adj Close    Adj Close  Adj Close
0       3.596616    89.375000  49.845802
1       3.293384    81.937500  53.805050
2       3.341579    69.750000  54.346527
3       3.052405    65.562500  52.096165
4       3.196992    69.562500  52.657513
...          ...          ...        ...
4470  155.839996   990.989990        NaN
4471  155.899994   987.200012        NaN
4472  156.550003   995.000000        NaN
4473  156.000000  1000.929993        NaN
4474  156.990005  1002.940002        NaN

[4475 rows x 3 columns]

In [63]:
# Renaming column names as all three columns have same names
col = list(AdjClose_data.columns)
print(col)

['Adj Close', 'Adj Close', 'Adj Close']

In [64]:
col[0] = 'Apple Adj Close'
col[1] = 'Amazon Adj Close'
col[2] = 'Google Adj Close'

In [65]:
AdjClose_data.columns = col
print(AdjClose_data)

      Apple Adj Close  Amazon Adj Close  Google Adj Close
0            3.596616         89.375000         49.845802
1            3.293384         81.937500         53.805050
2            3.341579         69.750000         54.346527
3            3.052405         65.562500         52.096165
4            3.196992         69.562500         52.657513
...               ...               ...               ...
4470       155.839996        990.989990               NaN
4471       155.899994        987.200012               NaN
4472       156.550003        995.000000               NaN
4473       156.000000       1000.929993               NaN
4474       156.990005       1002.940002               NaN

[4475 rows x 3 columns]

In [66]:
# Replacing null values with zeros as the google data has lesser rows when compared to amazon and apple
processed_data = AdjClose_data.fillna(0)
print(processed_data)

      Apple Adj Close  Amazon Adj Close  Google Adj Close
0            3.596616         89.375000         49.845802
1            3.293384         81.937500         53.805050
2            3.341579         69.750000         54.346527
3            3.052405         65.562500         52.096165
4            3.196992         69.562500         52.657513
...               ...               ...               ...
4470       155.839996        990.989990          0.000000
4471       155.899994        987.200012          0.000000
4472       156.550003        995.000000          0.000000
4473       156.000000       1000.929993          0.000000
4474       156.990005       1002.940002          0.000000

[4475 rows x 3 columns]

In [67]:
# Finding mean, median and std
# Mean and std is found out using describe function
stats = processed_data.describe().loc[['mean','std']]
print(stats)

      Apple Adj Close  Amazon Adj Close  Google Adj Close
mean        40.069959        199.754344        281.381018
std         43.478843        242.728656        254.699380

In [73]:
# Finding median
med = processed_data.median()
med.name = 'median'
print(med)

Apple Adj Close      20.428621
Amazon Adj Close     80.239998
Google Adj Close    243.446609
Name: median, dtype: float64

In [74]:
# Appending median to stats dataframe
stats.append(med)

        Apple Adj Close  Amazon Adj Close  Google Adj Close
mean          40.069959        199.754344        281.381018
std           43.478843        242.728656        254.699380
median        20.428621         80.239998        243.446609